@use "../utils" as *;

.header {
  //   background: var(--bg-gradient);
  color: var(--bg-sub-text);

  .container {
    padding-block: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0%;
      overflow: hidden;
      height: 100%;
      min-height: 100vh;
      background-color: var(--bg-white);
      transition: width 0.7s ease-in-out;

      ul {
        // position: fixed;
        // top: 50%;
        // left: 50%;
        // translate: -50% -50%;
        flex-direction: column;
        text-align: center;
        gap: 4rem;
        font-size: 2.4rem;

        li {
          opacity: 0;
          white-space: nowrap;
          position: relative;
          font-weight: 600;
          max-width: max-content;
          margin: 0 auto;
          transition: color 0.6s ease-in-out, opacity 0.6s ease-out;
          &::after {
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 50%;
            translate: -50% 0;
            background-color: var(--bg-primary);
            width: 0%;
            height: 5px;
            transition: width 0.5s ease-in-out;
            border-radius: 2rem;
          }
          &:hover {
            color: var(--bg-text);
            &::after {
              width: 100%;
            }
          }
        }
      }
      &.active {
        width: 100%;
        ul {
          li {
            opacity: 1;
          }
        }
      }
    }

    .btn-groups {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}

.tools-ham {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 999;
}

.hamBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 50px;
  aspect-ratio: 1;
  padding: 0.6rem;
  cursor: pointer;
  overflow: hidden;
  span {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--bg-primary);
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    transform-origin: 7px 2px;

    @include breakpoint-down(mobile) {
      transform-origin: 8px 2px;
    }

    &:nth-child(2) {
      translate: 0px 0;
      opacity: 70%;
    }
  }
}

.hamBurger-active {
  span {
    &:first-child {
      rotate: 45deg;
    }

    &:last-child {
      rotate: -45deg;
    }

    &:nth-child(2) {
      translate: 100px 0;
    }
  }
}

.logo {
  font-size: 2.7rem;
  font-family: var(--ffp);
  color: var(--bg-text);
  font-weight: 600;
}

.btn-s {
  background: var(--bg-gradient);
  color: var(--bg-white);
  padding: 0.4rem 3rem;
  border-radius: 10px;
  border: 2px solid var(--bg-primary);
  transition: all 0.4s ease-in-out;

  &:hover {
    background: transparent;
    color: var(--bg-primary);
  }
}

@include breakpoint-down(mobile) {
  .tools-ham {
    .text {
      display: none;
    }
  }
}
